/* General body styling */
body {
    margin: 0;
    background-color: #f8f8f8;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    grid-template-areas: 
    'header header header header'
    'hero hero hero hero'
    'main main main aside'
    'footer footer footer footer';
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Poppins", sans-serif;
}

p, a, li, figcaption, td, blockquote {
    font-family: "Roboto", sans-serif;
    font-size: 1.25rem;
}

/* Header styling */
header {
    grid-area: header;
    display: grid;
    grid-template-columns: 60% 40%;
    align-items: center;
    background-color: #9c2323;
    height: 125px;
}

header > div {
    height: 80px;
}

header > div > a > img {
    height: 100%;
    width: auto;
}

header > nav > ul {
    display: flex; 
    justify-content: flex-end; 
    list-style: none; 
    margin: 0;
    padding: 0;
}

header nav ul li {
    margin: 0 15px;
}

header nav ul li a {
    border: 2px solid white;
    padding: 10px 20px;
    border-radius: 5px;
    color: white;
    text-decoration: none;
    transition: background-color 0.3s;
}

.hero-image {
    width: 100%;
    height: 50%;
}

.banner-card {
    background-image: url('./img/pizza.jpg'); 
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat; 
    position: relative;
}

.menu {
    padding: 10px;
    background-color: #f8f8f8;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr)); 
    gap: 20px;
}

.pizza-item {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 10px;
    background-color: #f8f8f8;
    margin: 15px;
    transition: transform 0.2s;
}

.pizza-item:hover {
    transform: scale(1.05);
}

.pizza-item h3 {
    font-size: 1.5rem;
    color: #9c2323;
    font-weight: bold;
}

.pizza-item p {
    margin: 10px 0;
}

.price {
    font-weight: bold;
    color: black;
}

h2 {
    margin-left: 20px;
}

.create-your-own {
    width: 50%;
    padding: 20px;
    background-color: #ffffff;
    border: 2px solid #9c2323; 
    border-radius: 10px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
    margin: 20px 20px 20px 20px;
   
}

.create-your-own:hover {
    transform: scale(1.02);
}

.create-your-own h2 {
    color: #9c2323;
    font-size: 2rem;
    margin-bottom: 15px;
    text-align: center;
}

.create-your-own form {
    display: flex;
    flex-direction: column;
}

.pizza-size, .toppings {
    background-color: #f9f9f9;
    border: 1px solid white;
    border-radius: 8px;
    padding: 15px;
    margin-bottom: 15px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

.pizza-size label,
.toppings h3 {
    font-weight: bold;
    margin-bottom: 10px;
}

.toppings label {
    display: block;
    margin-bottom: 5px;
}

button {
    background-color: #9c2323;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.2s, box-shadow 0.2s;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    margin-bottom: 20px;
}

button:hover {
    background-color: #7c1f1f;
    transform: translateY(-2px);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
}


/* Footer styling */
footer {
    grid-area: footer;
    background-color: #9c2323;
    color: white;
    padding: 20px 0;
}

.footer-content {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    max-width: 1200px;
    margin: 0 auto;
}

.footer-links, .social-media, .contact-info {
    flex: 1;
    margin: 10px;
}

.footer-links ul {
    list-style-type: none;
    padding: 0;
}

.footer-links ul li {
    margin: 5px 0;
}

.footer-links a {
    color: white;
    text-decoration: none;
}

.footer-links a:hover {
    text-decoration: underline;
}

.footer-bottom {
    text-align: center;
    padding: 10px 0;
    background-color: #7c1f1f;
}

.social-img {
    width: 350px;
    height: auto;
    margin-top: 10px;
}
